In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder 
ohe = OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
import pylab as pl
from sklearn.metrics import f1_score

In [ ]:
file=pd.read_csv("data.csv")
#file=pd.read_csv(sys.argv[1], header = 0) #Uncomment this to use it from command line

In [ ]:
file.shape

(10000, 32)

In [ ]:
file.head()

  First Name Last Name  ... How Did You Hear About This Internship?       Label
0     Barron    Harnes  ...                                 Twitter  ineligible
1      Velma    Allone  ...                     Ex/Current Employee    eligible
2    Thibaut  Scotland  ...                                 Twitter  ineligible
3      Retha     Proud  ...                                 Twitter  ineligible
4        Del    Pearse  ...                                Facebook  ineligible

[5 rows x 32 columns]

In [ ]:
file.describe()

            Zip Code  ...  link to Linkedin profile
count   10000.000000  ...                       0.0
mean   410087.514700  ...                       NaN
std      6408.897346  ...                       NaN
min    400012.000000  ...                       NaN
25%    400701.000000  ...                       NaN
50%    413001.000000  ...                       NaN
75%    416004.000000  ...                       NaN
max    416436.000000  ...                       NaN

[8 rows x 11 columns]

In [ ]:
file.isnull()

      First Name  Last Name  ...  How Did You Hear About This Internship?  Label
0          False      False  ...                                    False  False
1          False      False  ...                                    False  False
2          False      False  ...                                    False  False
3          False      False  ...                                    False  False
4          False      False  ...                                    False  False
...          ...        ...  ...                                      ...    ...
9995       False      False  ...                                    False  False
9996       False      False  ...                                    False  False
9997       False      False  ...                                    False  False
9998       False      False  ...                                    False  False
9999       False      False  ...                                    False  False

[10000 rows x 32 columns]

In [ ]:
file.isnull().sum()

First Name                                                       0
Last Name                                                        0
City                                                             0
State                                                            0
Zip Code                                                         0
DOB [DD/MM/YYYY]                                                 0
Age                                                              0
Gender                                                           0
Email Address                                                    0
Contact Number                                                   0
Emergency Contact Number                                         0
College name                                                     0
University Name                                                  0
Degree                                                           0
Major/Area of Study                                              0
Course Type                                                      0
Which-year are you studying in?                                  0
CGPA/ percentage                                                 0
Expected Graduation-year                                         0
Areas of interest                                                0
Current Employment Status                                        0
Have you worked core Java                                        0
Programming Language Known other than Java (one major)           0
Have you worked on MySQL or Oracle database                      0
Have you studied OOP Concepts                                    0
Certifications/Achievement/ Research papers                  10000
Rate your written communication skills [1-10]                    0
Rate your verbal communication skills [1-10]                     0
Link to updated Resume (Google/ One Drive link preferred)    10000
link to Linkedin profile                                     10000
How Did You Hear About This Internship?                          0
Label                                                            0
dtype: int64

In [ ]:
file.dropna().isnull().sum()

First Name                                                   0
Last Name                                                    0
City                                                         0
State                                                        0
Zip Code                                                     0
DOB [DD/MM/YYYY]                                             0
Age                                                          0
Gender                                                       0
Email Address                                                0
Contact Number                                               0
Emergency Contact Number                                     0
College name                                                 0
University Name                                              0
Degree                                                       0
Major/Area of Study                                          0
Course Type                                                  0
Which-year are you studying in?                              0
CGPA/ percentage                                             0
Expected Graduation-year                                     0
Areas of interest                                            0
Current Employment Status                                    0
Have you worked core Java                                    0
Programming Language Known other than Java (one major)       0
Have you worked on MySQL or Oracle database                  0
Have you studied OOP Concepts                                0
Certifications/Achievement/ Research papers                  0
Rate your written communication skills [1-10]                0
Rate your verbal communication skills [1-10]                 0
Link to updated Resume (Google/ One Drive link preferred)    0
link to Linkedin profile                                     0
How Did You Hear About This Internship?                      0
Label                                                        0
dtype: int64

In [ ]:
inplace = True
file.dtypes

First Name                                                    object
Last Name                                                     object
City                                                          object
State                                                         object
Zip Code                                                       int64
DOB [DD/MM/YYYY]                                              object
Age                                                            int64
Gender                                                        object
Email Address                                                 object
Contact Number                                                 int64
Emergency Contact Number                                       int64
College name                                                  object
University Name                                               object
Degree                                                        object
Major/Area of Study                                           object
Course Type                                                   object
Which-year are you studying in?                               object
CGPA/ percentage                                             float64
Expected Graduation-year                                       int64
Areas of interest                                             object
Current Employment Status                                     object
Have you worked core Java                                     object
Programming Language Known other than Java (one major)        object
Have you worked on MySQL or Oracle database                   object
Have you studied OOP Concepts                                 object
Certifications/Achievement/ Research papers                  float64
Rate your written communication skills [1-10]                  int64
Rate your verbal communication skills [1-10]                   int64
Link to updated Resume (Google/ One Drive link preferred)    float64
link to Linkedin profile                                     float64
How Did You Hear About This Internship?                       object
Label                                                         object
dtype: object

In [ ]:
categorical_cols = ['Gender','Expected Graduation-year','Programming Language Known other than Java (one major)','How Did You Hear About This Internship?',
                   'Label', 'State', 'City', 'Have you worked on MySQL or Oracle database', 'Have you studied OOP Concepts', 'Areas of interest', 'Degree','Major/Area of Study', 'Which-year are you studying in?','Course Type','Current Employment Status', 'Have you worked core Java']

for i in categorical_cols:
    print('*****', i, '*****')
    print(file[i].value_counts())
    print('')

***** Gender *****
Female    5018
Male      4982
Name: Gender, dtype: int64

***** Expected Graduation-year *****
2022    2550
2023    2510
2020    2477
2021    2463
Name: Expected Graduation-year, dtype: int64

***** Programming Language Known other than Java (one major) *****
JavaScript    1296
.Net          1274
C             1268
C#            1263
C++           1249
Python        1224
HTML/CSS      1223
PHP           1203
Name: Programming Language Known other than Java (one major), dtype: int64

***** How Did You Hear About This Internship? *****
Intern                 1173
Newspaper              1162
Twitter                1160
Blog post              1116
LinkedIn               1112
Friend                 1109
Facebook               1084
Other                  1077
Ex/Current Employee    1007
Name: How Did You Hear About This Internship?, dtype: int64

***** Label *****
ineligible    5937
eligible      4063
Name: Label, dtype: int64

***** State *****
Maharashtra    10000
Name: State, dtype: int64

***** City *****
Solapur       1710
NaviMumbai    1678
Sangli        1670
Mumbai        1648
Kolhapur      1647
Pune          1647
Name: City, dtype: int64

***** Have you worked on MySQL or Oracle database *****
Yes    5007
No     4993
Name: Have you worked on MySQL or Oracle database, dtype: int64

***** Have you studied OOP Concepts *****
Yes    5044
No     4956
Name: Have you studied OOP Concepts, dtype: int64

***** Areas of interest *****
DevOps                      674
Machine Learning            671
Python                      652
Cyber Security              638
Web Development             637
QMS/Testing                 633
Mobility                    631
IoT                         630
Artificial Intelligence     627
Digital Marketing           624
Blockchain                  623
Big Data                    612
Data Science                601
Information Security        598
RPA                         589
Cloud Computing             560
Name: Areas of interest, dtype: int64

***** Degree *****
B.Tech    6674
B.E.      3326
Name: Degree, dtype: int64

***** Major/Area of Study *****
Computer Engineering                 5971
Electrical Engineering               2033
Electronics and Telecommunication    1996
Name: Major/Area of Study, dtype: int64

***** Which-year are you studying in? *****
Second-year    2550
First-year     2510
Fourth-year    2477
Third-year     2463
Name: Which-year are you studying in?, dtype: int64

***** Course Type *****
Full-time     10000
Name: Course Type, dtype: int64

***** Current Employment Status *****
Student    10000
Name: Current Employment Status, dtype: int64

***** Have you worked core Java *****
No     5031
Yes    4969
Name: Have you worked core Java, dtype: int64

In [ ]:
df3=file.apply(LabelEncoder().fit_transform)

In [ ]:
df3.head()

   First Name  Last Name  ...  How Did You Hear About This Internship?  Label
0         545       3797  ...                                        8      1
1        5495        132  ...                                        1      0
2        5309       7368  ...                                        8      1
3        4662       6731  ...                                        8      1
4        1472       6387  ...                                        2      1

[5 rows x 32 columns]

In [ ]:
x = df3.iloc[:, :-1].values
y = df3.iloc[:, -1].values

#Random Forest

In [ ]:
#import the train-test split
from sklearn.model_selection import train_test_split

In [ ]:
#divide into train and test sets
train_x,test_x,train_y,test_y = train_test_split(x,y, random_state = 101, stratify=y)

In [ ]:
#Importing Decision Tree Classifier 
from sklearn.tree import DecisionTreeClassifier

In [ ]:
#creating a decision tree instance
clf = DecisionTreeClassifier(random_state=96)

In [ ]:
#training the model
clf.fit(train_x,train_y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=96, splitter='best')

In [ ]:
#calculating score on training data
clf.score(train_x, train_y)

1.0

In [ ]:
#calculating score on test data
clf.score(test_x, test_y)

1.0

In [ ]:
#Importing random forest classifier 
from sklearn.ensemble import RandomForestClassifier

In [ ]:
#creating a random forest instance
clf = RandomForestClassifier(random_state=96)

In [ ]:
#train the model
clf.fit(train_x,train_y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=96, verbose=0,
                       warm_start=False)

In [ ]:
#score on training data
clf.score(train_x, train_y)

1.0

In [ ]:
#score on test data
clf.score(test_x, test_y)

1.0

In [ ]:
#looking at the feature importance
clf.feature_importances_

array([0.00733439, 0.0083833 , 0.0019247 , 0.        , 0.00476789,
       0.00836187, 0.00296261, 0.00095743, 0.00772015, 0.00818678,
       0.00794729, 0.00417235, 0.00127871, 0.00049308, 0.00149345,
       0.        , 0.12797917, 0.16430012, 0.15169561, 0.00493248,
       0.        , 0.00086353, 0.00391447, 0.00091141, 0.00099173,
       0.00702314, 0.21748291, 0.2360104 , 0.00707084, 0.00694866,
       0.00389153])

In [ ]:
y_pred = clf.predict(test_x)

In [ ]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(test_y, y_pred))
print(classification_report(test_y, y_pred))

[[1016    0]
 [   0 1484]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1016
           1       1.00      1.00      1.00      1484

    accuracy                           1.00      2500
   macro avg       1.00      1.00      1.00      2500
weighted avg       1.00      1.00      1.00      2500

In [ ]:
f1 = f1_score(test_y, y_pred)
print('F1 score: %f' % f1)

F1 score: 1.000000